<!DOCTYPE html>
<html>

<head>
	<title>User Signup</title>

	<style>
		form {
			background-color: #eee;
			padding: 20px;
			margin: 0 auto;
			width: 60%;
			font: 16px sans-serif;
			border-radius: 10px;
			text-align: center;
		}

		label {
			display: inline-block;
			float: left;
			padding-top: 5px;
			text-align: right;
			width: 35%;
		}

		input {
			margin-top: 5px;
			display: inline-block;
			width: 45%
		}
	</style>
</head>

<body>
	<h1>User Signup</h1>

	{% block content %}000
  
  {% endblock %}

</body>

</html>