{% extends "base.html" %}

{% block content%}

<form method="post">
	<label>Username*:</label>
  <input type="text" name="username" minlength="3" maxlength="20" required value="{{plcList['userOld']}}"/>
  <i>{{plcList['userError']}}</i></br>

  <label>Password*:</label>
  <input type="password" name="pworda" minlength="8" required/>
  <i>{{plcList['pwdError']}}</i></br>

  <label>Retype Password*:</label>
  <input type="password" name="pwordb" minlength="8" required/>
  </br>

  <label>Email Address:</label>
  <input type="text" name="email" value="{{plcList['emailOld']}}"/>
  <i>{{plcList['emailError']}}</i></br>
  </br>

  <input type="submit" value="Signup"/>
</form>

{% endblock %}